div#footer {
  position:fixed;
  bottom:0px;
  left:0px;
  width:100%;
  color:#437589;
  background:#10252E;
  padding:8px;
}

.jumbotron {
  text-align: center;
  background-color: #76A8BC;
  background-color: #457487;
  color: #223B44;
  color: #E7F0F3;
}

body {
  background-color: #E7F0F3;
  color: #223B44;
}

.name {
  color: #437589;
  font-size: 36px;
}

.address {
  color: #223B44;
}

/*.contacts {
  font-size: 36px;
}*/
