@{
  Layout = "_Layout";
}

<ul>
  @foreach(var contact in Model)
  {
    if (@contact.GetFirstName() != "deleted")
    {
      <li><a href="/contacts/@contact.GetId()" class="name">@contact.GetFirstName() @contact.GetLastName()</a></li>
    }
  }
</ul>

<form action="/contacts/delete" method="post">
  <button type="submit" class="btn btn-default">Clear All Contacts</button>
</form>
