<h1>Contacts</h1>
<ul>
  @foreach(var contact in Model)
  {
    <li>@contact.GetFirstName() @contact.GetLastName()</li>
  }
</ul>
<p><a href="/contacts/new">Add Contact</a></p>

<form action="/contacts/delete" method="post">
  <button type="submit">Clear All Contacts</button>
</form>
